.tabs {
  &-nav {
    margin: calc(.5rem + 1.5vw) -.8rem 0 -.8rem;
    display: flex;
    flex-wrap: wrap;
    &__item {
      padding: .8rem 1.5rem;
      margin: .8rem;
      min-width: inherit;
      flex: auto;
    }
  }
  &-content {
    margin-top: calc(2rem + 3vw);
    &__item {
      display: none;
      &.is-active { display: block; }
    }
  }
}