[class*="icon-zodiac-"] {
  font-size: 2.5rem;
}

.icon-zodiac-15 {
  left: 10%!important;
  top: 92%!important;
}
.icon-zodiac-14 {
  left: 40%!important;
  top: 85%!important;
}
.icon-zodiac-13 {
  left: 90%!important;
  top: 75%!important;
}
.icon-zodiac-12 {
  left: 90%!important;
  top: 45%!important;
}
.icon-zodiac-11 {
  left: 50%!important;
  top: 30%!important;
}
.icon-zodiac-10 {
  left: 40%!important;
  top: 67%!important;
}
.icon-zodiac-9 {
  left: 68%!important;
  top: 73%!important;
}
.icon-zodiac-8 {
  left: 1%!important;
  top: 65%!important;
}
.icon-zodiac-7 {
  left: 10%!important;
  top: 45%!important;
}
.icon-zodiac-6 {
  left: 5%!important;
  top: 25%!important;
}
.icon-zodiac-5 {
  left: 80%!important;
  top: 17%!important;
}
.icon-zodiac-4 {
  left: 35%!important;
  top: 14%!important;
}
.icon-zodiac-3 {
  left: 55%!important;
  top: 7%!important;
}
.icon-zodiac-2 {
  left: 95%!important;
  top: 3%!important;
}
.icon-zodiac-1 {
  left: 10%!important;
  top: 3%!important;
}

.constellation-5 {
  top: 80%!important;
  left: 2%!important;
}
.constellation-4 {
  top: 60%!important;
  left: 65%!important;
}
.constellation-3 {
  top: 50%!important;
  left: 7%!important;
}
.constellation-2 {
  top: 28%!important;
  left: 82%!important;
}
.constellation-1 {
  top: 10%!important;
  left: 1%!important;
}