extends template/main

block variables
    - var title = 'Контент'
    - const pageClass = 'content-page'

block content
    #scene
        - for (let i = 1; i <=15; i++) {
        +icon(`zodiac-${i}`)(data-depth="0.1")
        - }
        - for (let i = 1; i <=5; i++) {
        img(src=`./static/images/general/constellation-${i}.png` data-depth=`0.${i + 2}` class=`constellation-${i}`)
        - }
    section.content-section
        .container
            ul.breadcrumbs
                +breadcrumbs-item('Главная','/')
                +breadcrumbs-item('Контентная страница')
            .title Контентная страница
            .content-section__subject
                h2.h2 Заголовок 2
                p Типографика— сильнейший инструмент для выражения посыла в веб-дизайне. С его помощью вы можете объединить текстовую и визуальную составляющие, что поможет вам достучаться до посетителя.
                br
                h3.h3 Заголовок 3
                p Нумерованные списки представляют собой набор элементов с их порядковыми номерами. Пример:
                ol
                    li Первый пункт списка;
                    li Второй пункт списка;
                    li Третий пункт списка;
                    li Четвёртый пункт списка.
                br
                br
                img(src="./static/images/content/placeholder.jpg" style="float: left; margin: 0 2rem 0 0" width="570px" height="370px")
                p Совершенно естественно, что при разработке сайта почти никогда не используется тот контент, который там будет — зачастую, это контента ещё просто не существует. Поэтому дизайнеры (да и верстальщики тоже) используют «рыбу» — произвольный текст, который вписывается в контентные блоки. Совершенно естественно, что при разработке сайта почти никогда не используется тот контент, который там будет — зачастую, это контента ещё просто не существует. Поэтому дизайнеры (да и верстальщики тоже) используют «рыбу» — произвольный текст, который вписывается в контентные блоки. Совершенно естественно, что при разработке сайта почти никогда не используется тот контент, который там будет — зачастую, это контента ещё просто не существует. Поэтому дизайнеры (да и верстальщики тоже) используют «рыбу» — произвольный текст, который вписывается в контентные блоки. Поэтому дизайнеры (да и верстальщики тоже) используют «рыбу» — произвольный текст., который вписывается в контентные блоки. Совершенно естественно, что при разработке сайта почти никогда не используется тот контент, который вписывается в контентные блоки. Совершенно естественно.
                div(style="clear: both;")
                br
                h4.h4 Заголовок 4
                p Нумерованные списки представляют собой набор элементов с их порядковыми номерами. Пример:
                ul
                    li Первый пункт списка;
                    li Первый пункт списка;
                    li Третий пункт списка;
                    li Четвёртый пункт списка.
                br
                p Совершенно естественно, что при разработке сайта почти никогда не используется тот контент, который там будет — зачастую, это контента ещё просто не существует. Поэтому дизайнеры (да и верстальщики тоже) используют «рыбу» — произвольный текст, который вписывается в контентные блоки. Совершенно естественно, что при разработке сайта почти никогда не используется тот контент, который там будет — зачастую, это контента ещё просто не существует. Поэтому дизайнеры (да и верстальщики тоже) используют «рыбу» — произвольный текст, который вписывается в контентные блоки. Совершенно естественно, что при разработке сайта почти никогда не используется тот контент, который там будет — зачастую, это контента ещё просто не существует. Поэтому дизайнеры (да и верстальщики тоже) используют «рыбу» — произвольный текст, который вписывается в контентные блоки. Поэтому дизайнеры (да и верстальщики тоже) используют «рыбу» — произвольный текст., который вписывается в контентные блоки. Совершенно естественно, что при разработке сайта почти никогда не используется тот контент, который вписывается в контентные блоки. Совершенно естественно.
                br
                br
                .content-section__table
                    table
                        thead
                            tr
                                th Заголовок
                                th Пункт
                                th Пункт
                                th Пункт
                                th Пункт
                                th Пункт
                        tbody
                            tr
                                td Заголовок
                                td Заголовок
                                td Заголовок
                                td Заголовок
                                td Заголовок
                                td Заголовок
                            tr
                                td Заголовок
                                td Заголовок
                                td Заголовок
                                td Заголовок
                                td Заголовок
                                td Заголовок
                            tr
                                td Заголовок
                                td Заголовок
                                td Заголовок
                                td Заголовок
                                td Заголовок
                                td Заголовок
    section.form-section
        .container
            include ./modules/forms/form-request