extends template/main

block variables
    - var title = 'Публицации'
    - const pageClass = 'publications-page'

block content
    #scene
        - for (let i = 1; i <=15; i++) {
        +icon(`zodiac-${i}`)(data-depth="0.1")
        - }
        - for (let i = 1; i <=5; i++) {
        img(src=`./static/images/general/constellation-${i}.png` data-depth=`0.${i + 2}` class=`constellation-${i}`)
        - }
    section.publications
        .container
            ul.breadcrumbs
                +breadcrumbs-item('Главная','/')
                +breadcrumbs-item('Публикации')
            .title Публикации
            .cards-grid
                - let sum = 50
                - for (let i = 1; i <= 9; i++) {
                - let delay = 500
                .card(data-aos="zoom-in" data-aos-delay= sum)
                    .card__header
                        img(src="./static/images/content/placeholder.jpg").card__img
                    .card__body.card__body_size_sm
                        .card__title.subtitle Название
                        .card__content.card__content_size_base Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                        +btn({label: 'Подробнее', href: './content.html', skin: 'transparent'})(class="card__btn")
                - sum += delay
                - }
            +pagination(5, 3, 4, 9, arrows)