section.greetings
    .container
        +icon('quotes')
        .title Намасте!
        .greetings__grid
            .greetings__content(data-aos="slide-right")
                p(style="font-size: 18px;") Приветствую Вас на нашем сайте!
                br
                p.text.text_bold Я ведический астролог и практикующий психолог Карина Демченко.  Работаю в  двух направлениях, которые выглядят кардинально разными, но это только на первый взгляд.
                p Работа с болью  и  травмами души - сложная задача, поэтому ко мне обращаются смелые люди, которые стремятся к иной, качественно другой жизни.
                p Ведь прежде чем строить новое, необходимо разрушить то, что отжило и болит. В этом я вижу свою основную задачу и предназначение – превратить в развалины все, что способствует деградации, несет деструктив.  И только потом, на чистой равнине внутреннего  пространства сооружать фундамент других возможностей и   прокладывать  новые пути.
                p Невозможно  разрушить безболезненно, но чтобы сделать это деликатно и мягко, чтобы  знать и чувствовать, как поступить – я использую мудрость ведической астрологии,  методы современного глубинного психоанализа и  жизненный опыт, как мой личный, так  и моих многочисленных клиентов.
                p Страницы этого сайта я наполнила для Вас полезной и важной информацией, которая может быть необходима именно сейчас. Тем, кто ищет  и по-настоящему настроен на познание себя - они  помогут улучшить качество жизни, стать счастливее.
                br
                p
                    span.text.text_bold «Жизнь дана человеку, прежде всего для самосознания. Это значит, что человек должен понять, кто он, что представляет собой этот мир и что является высшей истиной. »
                    |[Ш.Б. п. 1, гл.1, текст 10]
                br
                p.text.text_bold Желаю Вам приятного и благодатного САМОПОЗНАНИЯ!
                .text.text_fancy.text_align_right.greetings__sign Искренне ваша, Карина Демченко!
            .greetings__photo(data-aos="slide-left")
                img(src="./static/images/content/owner.png")



