section.prologue
    img(src="./static/images/general/planet.png").prologue__planet
    .container
        .text.text_fancy Karina Demchenko
        .title.prologue__title Ведическая астрология и психоанализ
        p.prologue__text-1 - синтез современной науки и древнихз наний в уникальном авторском курсе.
        p.prologue__text-2 Обучающие  программы  для  тех,   кто  устал  брести   по  жизни  с  завязанными глазами.
        +btn({label: 'Узнать подробнее', href: './consultations.html'})(class="prologue__btn")