@mixin font-face($font-name, $path, $weight: normal, $style: normal) {
  @font-face {
    font-family: quote($font-name);
    src:
      url(#{$path}.woff) format("woff"),
      url(#{$path}.woff2) format("woff2"),
      url(#{$path}.ttf) format("truetype");
    font-weight: $weight;
    font-style: $style;
  }
}
@include font-face('FuturaPT-Medium', '../fonts/FuturaPT-Medium', medium, 'normal');
@include font-face('FuturaPT-Book', '../fonts/FuturaPT-Book', normal, 'normal');
@include font-face('FuturaPT-Bold', '../fonts/FuturaPT-Bold', bold, 'normal');
@include font-face('Gilroy', '../fonts/Gilroy-Regular', normal, 'normal');
@include font-face('Gilroy-Black', '../fonts/Gilroy-Black', black, 'normal');
@include font-face('Madelyn', '../fonts/Madelyn-Regular', normal, 'normal');