.lessons {
  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: calc(1.5rem + 2vw) 2rem;
    margin-top: calc(1.5rem + 1.5vw);
  @include screen(600px) {
      grid-template-columns: 1fr;
      justify-items: center;
    }
  }
  &__title {
    margin-top: 0;
  }
  &__img {
    height: 100%;
  }
  &__btn {
    margin-top: 1rem;
  }
  &__name {
    margin-top: 1rem;
  }
  &__professor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 1rem;
    @include screen(850px) {
      grid-template-columns: 1fr;
    }
  }
  &__video {
    position: relative;
  }
}